<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"unapp/hero"} /-->
	<!-- wp:pattern {"slug":"unapp/services"} /-->
	<!-- wp:pattern {"slug":"unapp/collaborate"} /-->
	<!-- wp:pattern {"slug":"unapp/features"} /-->
	<!-- wp:pattern {"slug":"unapp/stats"} /-->
	<!-- wp:pattern {"slug":"unapp/screens"} /-->
	<!-- wp:pattern {"slug":"unapp/pricing"} /-->
	<!-- wp:pattern {"slug":"unapp/team"} /-->
	<!-- wp:pattern {"slug":"unapp/blog-posts"} /-->
	<!-- wp:pattern {"slug":"unapp/cta-subscribe"} /-->
	<!-- wp:pattern {"slug":"unapp/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
